# === Local PostgreSQL Database === 
DB_HOST= 
DB_NAME= 
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_SSLMODE=

# === Local Storage Configuration === 
# Folder tempat Anda menyimpan gambar violation 
LOCAL_STORAGE_PATH="backend/public/cctv" 
BASE_URL="http://localhost:3000" 

# === JWT Utils === 
JWT_SECRET=
