# === Supabase (Storage, API, Auth) === 
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET=

# === Supabase PostgreSQL Database === 
DB_HOST= 
DB_NAME= 
DB_USER= 
DB_PASSWORD= 
DB_PORT= 
DB_SSLMODE= 

# === JWT Utils === 
JWT_SECRET =
