/* frontend/src/styles/LazyBlur.css */
.lazy-load-image {
  filter: blur(12px);
  opacity: 0.8;
  transition: filter 0.4s ease, opacity 0.4s ease;
}

.lazy-load-image.loaded {
  filter: blur(0);
    opacity: 1;
}